@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.ltc {
  min-height: 100vh;
  background: center / cover url("images/bg-intro-desktop.png") var(--red);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.ltc > div {
  flex: 1 1 calc(50% - 1rem);
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: red; */
}

.ltc .left {
  color: #fff;
}

.ltc .left h2 {
  font-size: 3.125rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.ltc .left p {
  font-size: 1rem;
  font-weight: 500;
}

.ltc .right {
  color: #fff;
}

.ltc .right a.try-it {
  color: #fff;
  text-decoration: none;
  background-color: var(--blue);
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.5rem 0 rgb(0 0 0 / 0.3);
  padding: 16px 0.5rem;
  transition: all 0.3s;
}

.ltc .right a.try-it:hover {
  box-shadow: 0 0.5rem 0 rgb(0 0 0 / 0.3), inset 0 0 5px rgb(255 255 255 / 1);
  transition: all 0.3s;
}

.ltc .bold {
  font-weight: 700;
  margin-right: 0.375rem;
}

.ltc .sign-up-container {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 rgb(0 0 0 / 0.3);
  padding: 2.25rem;
}

.ltc div.input {
  margin-bottom: 16px;
  position: relative;
}

.ltc .sign-up-container .invalid-info {
  color: var(--red);
  text-align: right;
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  display: none;
}

.ltc .sign-up-container input {
  width: 100%;
  height: 2.75rem;
  padding: 0 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--grayish-blue);
  /* margin-bottom: 4px; */
  font-weight: 600;
  color: var(--dark-blue);
  caret-color: var(--blue);
}

.ltc .sign-up-container .invalid input:not([type="submit"]) {
  background: calc(100% - 1.5rem) center url("images/icon-error.svg") no-repeat;
}

.ltc .sign-up-container .invalid input,
.ltc .sign-up-container .invalid input:focus {
  border: 2px solid var(--red);
  color: var(--red);
}

.ltc .sign-up-container .invalid .invalid-info {
  display: block;
}

.ltc .sign-up-container input:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.ltc .sign-up-container [type="submit"] {
  width: 100%;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  margin-bottom: 16px;
  /* outline: none; */
  border: none;
  background-color: var(--green);
  box-shadow: 0 0.5rem 0 hsl(154, 58%, 39%);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s;
  padding: 1.2rem 1rem 1rem;
}

.ltc .sign-up-container [type="submit"]:hover {
  background-color: hsl(154, 79%, 58%);
  transition: all 0.3s;
}

.ltc .sign-up-container input[type="submit"]:focus {
  outline: none;
}

.ltc ::placeholder {
  font-weight: 700;
}

.ltc .terms-of-service {
  color: var(--grayish-blue);
  font-size: 12px;
}

.ltc .terms-of-service a {
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .ltc {
    padding: 4rem 2rem;
  }

  .ltc .left h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  .ltc .left p {
    text-align: center;
  }

  .ltc .right a.try-it {
    padding: 1rem 3rem;
  }
}
